.header {
  padding: 1rem 2rem;
  background: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  padding: 1rem;
  min-height: 10vh;
}

.header svg {
  color: var(--font-color);
  transition: all .4s;
}

.header svg:hover {
  opacity: .8;
}

.container {
  display: flex;
  height: 100vh;
  transition: all .4s;
}

.main {
  flex: 1;
  background: var(--secondary-color);
  height: 100%;
  padding: 3rem;
}

.main h2 {
  color: var(--font-color);
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  background: var(--font-color);
}

.tbl th, .tbl td {
  border: 3px solid var(--secondary-color);
  padding: 1rem;
  text-align: center;
  color: var(--primary-color);
}

.tbl thead tr th {
  background: var(--primary-color);
  color: var(--font-color);
}

.tbl tbody tr:nth-child(even) {
  background: #edf8ff;
}

.settings-label {
  color: var(--font-color);
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px dotted var(--font-color);
}

.edit-profile {
  color: var(--font-color);
}

.edit-profile div {
  margin-bottom: 3rem;
  display: flex;
}

.edit-profile label {
  margin-right: 3rem;
  width: 200px;
}

.swiper.swiper-initialized.swiper-horizontal {
  height: 300px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-drawer-paper {
  background: var(--primary-color) !important;
  color: var(--font-color) !important;
  padding: 2rem;
}

.custom-drawer-paper svg,
.css-tlelie-MuiListItemText-root {
  color: var(--font-color) !important;
}

.css-tlelie-MuiListItemText-root {
  margin-left: .5rem;
}